<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miguel.protectorasmadrid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProtectorasMadrid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".NoticiaActivity"
            android:exported="false" />
        <activity
            android:name=".NoticiasActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dbprotectora.ddns.net"
                    android:port="3000"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsuarioActivities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivityProtectora"
            android:exported="true" />
        <activity
            android:name=".CitasFragment"
            android:exported="true" />
        <activity
            android:name=".UsuarioActivities.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".UsuarioActivities.ActivityPerfil"
            android:exported="true" />
        <activity
            android:name=".UsuarioActivities.AnimalActivity"
            android:exported="true" />
        <activity
            android:name=".ProtectoraActivities.SubirFragment"
            android:exported="true" />
        <activity
            android:name=".UsuarioActivities.ActivityCambioPass"
            android:exported="true" />
    </application>

</manifest>